
<% def coach_answer(your_message)
  # TODO: return coach answer to your_message

  if your_message == "I am going to work right now!"
    return ""
  elsif your_message.include? "?"
    return "Silly question, get dressed and go to work!"
  else
    return "I don't care, get dressed and go to work!"
  end
end

def coach_answer_enhanced(your_message)
  # TODO: return coach answer to your_message, with additional custom rules of yours!
  low = your_message.downcase
  if low == "i am going to work right now!" || your_message == low
    return coach_answer(your_message.capitalize)
  elsif your_message.include? "?"
    return "I can feel your motivation! Silly question, get dressed and go to work!"
  else
    return "I can feel your motivation! I don't care, get dressed and go to work!"
  end
end
%>


<div class="container">
  <div class="row">
    <div class="content col-sm-6 col-sm-offset-3 text-center">
      <span class=""><%= @answer %></span>
      <p>You</p>
      <%= coach_answer_enhanced(@answer) %>
      <p>Your coach</p>
    </div>
  </div>
</div>

